// colors
$white: #fff;
$white-2: #fdfdfd;
$red: #e31f24;
$grey: #e9ecef;
$grey-2: #76787d;
$grey-3: #e0e0e0;
$border: #dededd;
$black: #333;

$red-hover: #e2595d;

//fonts
$ff--main: "Montserrat", "Arial", sans-serif;
$fz-sm: 14px;
$fz: 16px;
$fz-lg: 32px;

$lh-normal: normal;

$fw--reg: 400;
$fw--smbold: 600;
$fw--bold: 700;

// breakpoints
$mobile-last: 980px;
$desktop: 981px;

// times
$time: 0.3s;
